{% extends "base.html" %}

{% block content %}

<h2>Here are all of the images that have been uploaded!</h2>
(most recently uploaded first)
<div id="image_container">
</div>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script type="text/javascript">
    $.post("image_count", function(count) {

        count = parseInt(count);
        for (var i = count - 1; i >= 0; i--) {
            
            $("#image_container").append("<div style='padding-top:10px'>" + 
                "<a href='/image?imageNum=" + i + "'>" +
                "<img width='200' src='image_raw?num=" + i + "' /></a></div>");
        }
    });
</script>


{% endblock %}